[Unit]
Description="Bridge LoRa radio to mqtt/prometheus"

[Service]
Type=simple
WorkingDirectory=/home/littlej/git/loranet/bridge
EnvironmentFile=/home/littlej/git/loranet/bridge/secrets
Environment=PATH=/home/littlej/git/loranet/bridge/.venv/bin:$PATH
ExecStart=/home/littlej/git/loranet/bridge/.venv/bin/python3 bridge.py

[Install]
WantedBy=default.target
